<nav>
    <div class = "site-title">
    <a href = "/"> <h1>Project Deliverable</h1> </a>
    <p>Patient Record System for Sabio - Reantazo <br> Birthing Home & Family Planning Clinic</p>
    </div>


<ul>
    <li><a href ="/" class = "activelink"> Patients </a></li>
    <li><a href ="/patient/add" class = "activelink"> Add Patient</a></li>
    <li><a href ="/appointments" class = "activelink"> Appointments </a></li>
    <li><a href ="/appointments/schedule" class = "activelink"> Schedule Appointment </a></li>
    
</ul>

</nav>